body{
  background-image: url('../img/meat-pattern-2.jpg');
}

canvas{
  background-color: black;
}

.logo{
  display: flex;
  justify-content: center;
}

.canvas{
  display: flex;
  justify-content: center;
}

.promos{
  display: flex;
  justify-content: center;
}