body{
  background-image: url('../img/meat-pattern-2.jpg');
}

canvas{
  background-color: black;
}

.logo{
  display: flex;
  justify-content: center;
  margin: 30px 0 30px 0;
}

.seccion{
  display: flex;
}

.controles-i{

  margin: 20px 56px;
}

.canvas{
  display: flex;
  justify-content: center;
}

.controles-d{

  margin: 20px 56px;
}

.promos{
  display: flex;
  justify-content: center;
}