body{
  background-image: url('../img/game-background.png');
}

canvas{
  background-color: black;
}

.logo{
  display: flex;
  justify-content: center;
}

.canvas{
  display: flex;
  justify-content: center;
}

.promos{
  display: flex;
  justify-content: center;
}